/* 
File: style.css
Author: Luis David Villalobos Gonzalez
Date: 21/01/2021
*/

body{
    min-width: 70px;
}

#editor { 
    position: absolute;
    top: 50px;
    right: 40%;
    bottom: 0%;
    left: 4%;
}

#terminal{ 
    position: absolute;
    top: 50px;
    right: 0%;
    bottom: 0%;
    left: 60%;
}

#settings{ 
    position: absolute;
    top: 50px;
    right: 96%;
    bottom: 0%;
    left: 0%;
}

html{
    overflow-y: hidden !important;
    background-color: rgb(63, 59, 59);
}