/* 
File: style.css
Author: Luis David Villalobos Gonzalez
Date: 14/12/2020
*/

#editor { 
    position: absolute;
    top: 17%;
    right: 50.3%;
    bottom: 10%;
    left: 1%;
}

#terminal { 
    position: absolute;
    top: 17%;
    right: 1%;
    bottom: 10%;
    left: 50.3%;
}

#compile-button{
    position: absolute;
    top: 25%;
    bottom: 10%;
}

#run-button{
    position: absolute;
    top: 25%;
    bottom: 10%;
}

#body{
    height: 529px;
}