/* 
File: style.css
Author: Luis David Villalobos Gonzalez
Date: 15/12/2020
*/

#editor { 
    position: absolute;
    top: 17%;
    right: 50.3%;
    bottom: 10%;
    left: 1%;
}

#terminal { 
    position: absolute;
    top: 17%;
    right: 1%;
    bottom: 10%;
    left: 50.3%;
}

#compile-button{
    position: absolute;
    right: 70%;
    left: 20%;
    top: 92%;
    min-width: 80px;
    min-height: 40px;
}

#run-button{
    position: absolute;
    right: 20%;
    left: 70%;
    top: 92%;
    min-width: 80px;
    min-height: 40px;
}

html{
    overflow-y: hidden !important;
    background-color:hsl(217, 71%, 53%) !important;
}