<!-- 
    File: filetabs.html
    Author: Luis David Villalobos Gonzalez
    Date: 24/02/2021
-->
<!DOCTYPE html> 
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <!-- Bulma -->
    <link rel="stylesheet" href="../css/bulma.css">
    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <!-- favicon -->  
    <link rel="shortcut icon" type="image/x-icon" href="../img/favicon.ico" />
    <!-- style -->  
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/style_settings.css">
</head>
<body>
    <nav id="filetabs" class="navbar">
       
    </nav>
</body>
</html>

<script>
    function whatFile(file){
        console.log(`You want to see file in location ${file} `)
    }

    let files = [
        { name:'Person.cpp', path:"1C:/Users/luisd/Desktop" },
        { name:'Car.cpp', path:"2C:/Users/luisd/Desktop" },
        { name:'Circle.cpp', path:"3C:/Users/luisd/Desktop" },
        { name:'Scua.cpp', path:"4C:/Users/luisd/Desktop" },
        { name:'Main.cpp', path:"4C:/Users/luisd/Desktop" },
        { name:'Main.cpp', path:"4C:/Users/luisd/Desktop" },
    ]
    var nav = document.getElementById("filetabs")
    for(let file of files){
        nav.innerHTML +=  '<button class="button is-dark" value="' + file['path'] +'" onClick="whatFile(this.value)">' + file['name'] + '</button>';
    }
</script>

<style>
.button{
    height: 25px;
    margin-right: -10px;
    border-radius: 0%;
    background-color: rgb(40, 40, 40);    
}

nav, .navbar{
    min-height: 25px !important;
    background-color: #2F3129;
}
</style>