<!-- 
    File: head.html
    Author: Luis David Villalobos Gonzalez
    Date: 20/02/2021
-->

<!-- Metadata -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">    

<!-- Bulma -->
<link rel="stylesheet" href="../css/bulma.css">

<!-- Fontawesome -->
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

<!-- styles -->  
<link rel="stylesheet" href="../css/style.css">

<!-- favicon -->  
<link rel="shortcut icon" type="image/x-icon" href="../img/favicon.ico" />
