<!-- 
    File: menu.html
    Author: Luis David Villalobos Gonzalez
    Date: 19/02/2021
-->
<div class="has-text-centered">
    <div class ="button is-large is-static is-dark is-outlined">
        <div class="title is-1 has-text-light">
            <span> Tiny editor </span> 
            <span class="fas fa-feather-alt has-text-warning"></span>
        </div>
    </div>
</div>
<div class="has-text-centered">
    <div class="column">
        <button id="button-simple-file" class="button is-medium is-success"> Simple File </button>
        <button id="button-open-folder" class="button is-medium is-danger" disabled> Open Folder </button>
    </div>
    <div class="column"> 
        <button id="button-new-folder" class="button is-medium is-warning" disabled> New Folder </button>
        <button id="button-settings" class="button is-medium is-link" disabled> Settings </button>
    </div>
    <div class="column">
        <button id="button-about" class="button is-medium is-primary" disabled> About </button>
    </div>
</div>


<style scoped>
    .button{
        width: 180px;
        margin-left: 5px;
        margin-right: 5px;
        border: 0px;
    }
</style>

<script src='../js/MainManager.js'></script>