<!-- 
    File: navbar.html
    Author: Luis David Villalobos Gonzalez
    Date: 21/02/2021
-->
<link rel="stylesheet" href="../css/style_navbar.css">
<nav class="navbar">
    <div id="button-save" class="button is-primary">
      <span class="icon">
        <i class="fas fa-save"></i>
      </span>
    </div>
    <div id="button-compiler" class="button is-warning">
      <span class="icon">
        <i class="fas fa-hammer"></i>
      </span>
    </div>
    <div id="button-runner" class="button is-danger">
      <span class="icon">
        <i class="fas fa-play"></i>
      </span>
    </div>
    <div id="button-settings" class="button is-link">
      <span class="icon">
        <i class="fas fa-cog"></i>
      </span>
    </div>
</nav>