<!-- 
    File: navbar.html
    Author: Luis David Villalobos Gonzalez
    Date: 23/02/2021
-->
<link rel="stylesheet" href="../css/style_navbar.css">
<link rel="stylesheet" href="../css/style_filetabs.css">
<div id="navbars">
  <nav id="buttons" class="navbar">
    <div id="title" class="button is-static">
      <div class="title has-text-light">
          Tiny Editor
      </div>
    </div>
    <div id="button-save" class="button is-primary">
      <span class="icon">
        <i class="fas fa-save"></i>
      </span>
    </div>
    <div id="button-compiler" class="button is-warning">
      <span class="icon">
        <i class="fas fa-hammer"></i>
      </span>
    </div>
    <div id="button-runner" class="button is-success">
      <span class="icon">
        <i class="fas fa-play"></i>
      </span>
    </div>
    <div id="button-settings" class="button is-link">
      <span class="icon">
        <i class="fas fa-cog"></i>
      </span>
    </div>
    <div id="button-new-file" class="button is-light">
      <span class="icon">
        <i class="fas fa-file-alt"></i>
      </span>
      <span class="icon">
        <i class="fas fas fa-plus"></i>
      </span>
    </div>
  </nav>
  <nav id="filetabs" class="navbar"></nav>
</div>