<!-- 
  File: SimpleEditor.html
  Author: Luis David Villalobos Gonzalez
  Date: 20/02/2021
-->

<!DOCTYPE html>
<html lang="es">
  <head>
    <include src='head.html'></include>
  </head>
  <body>
    <include src='navbar.html'></include>
    <include src='settings.html'></include>
    <div id="editor"></div>
    <div id="terminal"></div>
  </body>
</html>
<script src='../js/includer.js'></script>
<script src="../js/ace-editor/ace.js"></script>
<script src='../js/title_bar.js'></script>
<script src="../js/SimpleEditorManager.js"></script>  