/*
    File: FolderEditorStyle.js
    Author: Luis David Villalobos Gonzalez
    Date: 12/02/2021
*/
@font-face {
    font-family: Twiddlestix; src: url("../font/Twiddlestix/Twiddlestix.otf");
}

.title{
    font-family: Twiddlestix;
}


html{
    overflow-y: hidden !important;
    background-color: rgb(37, 37, 37);
}



ul{ 
    margin-top: -5px !important; 
    margin-bottom: -5px !important; 
}

i{  
    margin-right: 5px; 
}

#directory-tree-panel{
    width: 400px;
    position: absolute;
}
#directory-content{
    height: 640px;
}


html{
    overflow-y: hidden !important;
}


.myButtons{
    margin-right: 5px;
    height: 10px; 
    font-size: 14px;  
    background-color: transparent !important; 
    border-color:  transparent !important; 
}   