/*
    File: style_navbar.js
    Author: Luis David Villalobos Gonzalez
    Date: 02/03/2021
*/

#navbars > #buttons > .button{
    width: 50px;
    height: 30px;
    margin-left: 5px;
}

#navbars > #buttons{
    min-height: 35px !important;
}

#title{
    width: 210px !important;
    border: 0px;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    font-family: Twiddlestix;
    text-align: center;
    border-radius: 5%;
    position: absolute;
    margin-left: 40px;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}