/*
    File: style_navbar.js
    Author: Luis David Villalobos Gonzalez
    Date: 20/02/2021
*/

.button{
    width: 50px;
    height: 30px;
    margin: 5px;
}

nav, .navbar{
    min-height: 40px !important;
    background-color: #2F3129 !important;
}

.navbar{
    padding-left: 40px;
}