/*
    File: style_filetabs.js
    Author: Luis David Villalobos Gonzalez
    Date: 02/03/2021
*/

#navbars > #filetabs > .button{
    height: 25px;
    border-radius: 0%;
    border: 0px;
}

#navbars > #filetabs > .button:hover{
    background-color: #585755 !important;
    color: #2f2929 !important;
}

#navbars > #filetabs{
    min-height: 25px !important;
}

