/*
    File: style.js
    Author: Luis David Villalobos Gonzalez
    Date: 02/03/2021
*/

@font-face {
    font-family: Twiddlestix; src: url("../fonts/Twiddlestix/Twiddlestix.otf");
}

.title{
    font-family: Twiddlestix;
}


html{
    overflow-y: hidden !important;
}